#footer {
    background: url('../imgs/footer-bg.jpg');
    background-position: center;
    background-size: cover;

}

.bg {
    background: rgba(85, 75, 185, .95);
    padding-left: 7%;
    padding-right: 7%;

}

#footer .start {
    display: flex;
    /* border: 2px solid green; */
    flex-wrap: wrap;
    padding-top: 50px;

}

#footer .start .col {
    width: calc(100% / 3);
}

#footer .start .logo {
    /* border: 2px solid black; */
    text-align: center;
    padding: 10px;
}

#footer .start .logo img {
    width: 90%;

}

/* #footer .start .address {
    border: 2px solid red;


} */

#footer .start .address p {
    color: #fff;
    font-size: 100%;
    margin-bottom: 20px;
    font-weight: 900;
}

#footer .start .address p:nth-child(2) {
    color: #efa506;
    font-size: 80%;
}

#footer .start .address p:nth-child(3) {
    color: #ddd;
    font-weight: 500;

}

/* #footer .start .social-media {

    border: 2px solid gold;

} */

#footer .start .social-media p {
    color: #fff;
    margin-bottom: 20px;
    font-weight: 900;
}

#footer .start .social-media p:nth-child(2) {
    color: #ddd;
    margin-bottom: 10px;
    font-weight: 500;


}

#footer .start .social-media a {
    width: 50px;
    height: 50px;
    background-color: #ddd;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: 2s;
    color: #2e86de;
}

#footer .start .social-media a:hover {
    transform: translateY(-5px);
    transition: 2s;
    box-shadow: 0px 0px 0px;
}


#footer .end {
    border-top: 1px solid #fff;
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
    padding-top: 30px;

}

#footer .end p {
    color: #efa506;
    font-size: 98%;
}

@media screen and (max-width: 767px) {

    /*khi màn hình bé hơn 600px*/
    #footer .start .logo img {
        width: 80%;
        padding-top: 20px;

    }

}

@media screen and (max-width: 480px) {

    /*khi màn hình bé hơn 600px*/
    #footer .start .col {
        width: 100%;
    }

    #footer .start .logo img {
        width: 60%;


    }

    #footer .start {
        padding-top: 0px;
        text-align: center;
        margin-bottom: 50px;
    }

    #footer .start .logo {
        margin-bottom: 50px;
    }

    #footer .start .address {
        margin-bottom: 50px;
    }
    #footer .end {
        text-align: center;
    
    }


}